.section {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color:black;
    color: white;
    box-shadow: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: aquamarine;
    color: black;

  }
  
  .hidden {
    display: none;
  }